ANN/data/
ANN/models/
Scraping/scraped_content/
Scraping/scraped_content_backup/
Scraping/manual_download/
Scraping/manual_download_backup/
snntorch_trial/
Naive/
ANN/__pycache__/
ANN/dataset_len_dumps/
ANN/hf_dataset/LOC-PD-Books/
ANN/tracking/
ANN/vocab_visual/
NamePairGen/data/
NamePairGen/data_old/
NamePairGen/data_gen/
NamePairGen/models/
NamePairGen/tracking/
Scraping/.cache/
Scraping/Addit_merge/
Scraping/normalised_files
Scraping/normalised_files_actual
Scraping/temp/
Scraping/trimmed_liscensing/
Scraping/trimmed_liscensing_prev/
StellarEvents/models/
StellarEvents/tracking/
StellarEvents/unprocessed_events/
StellarEvents/validation_events/
ANN/vocab_visual - updated/
Scraping/gutenburg_index.txt
StellarEvents/tok_with_too_few_examples.txt
StellarEvents/token_list.txt